.app{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.app h1,h2,h3{
  text-align: center;
  color: whitesmoke;
}

.app .input-text-container{
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}

.app .input-text-container input{
  width: 100%;
  height: 1.6em;
  border-color: transparent;
  outline-color: transparent;
}

.app .input-text-container input::placeholder{
  color: #153b3d;;
  opacity: 1;
}

.app i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: #153b3d;
  margin-right: 5px;
}

.app .todo-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app .todo-list-container .todo{
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}

.app .todo-list-container .todo .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app .todo-list-container .todo .left p{
  margin-left: 3px;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  color: #153b3d;;
}






